body {
    min-width: 1200px;
}

tbody tr:hover {
    background-color: #ffff99;
}

thead {
    font-size: 1.2em;
    font-style: bold;
}

table {
    border-spacing: 10px ; /* to separate cells */
    padding: 20px;
    margin:20px;
    border:1px solid #EEEEEE;
    box-shadow:1px 5px 5px 1px #aaaaaa;
    border-radius:15px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: white;
}


form {
    background: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
    margin:20px;
}

input {
	padding: 10px;
}

div.formbox { /* The box around each search criteria */
    border:1px solid #EEEEEE;
    box-shadow:1px 5px 5px 1px #aaaaaa;
    border-radius:15px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: white;

    display:inline; /* Stop divs starting a newline */

	line-height: 30px;
	list-style: none;
    padding: 20px;
	margin: 20px 50px 20px 20px;
	margin-bottom: 2px;
}