body {
    min-width: 1200px;
}

tr:hover {
    background-color: #ffff99;
}

tr {
    border:1px solid #EEEEEE;
    margin-bottom: 5px;
}

table {
    padding: 20px;
    margin:20px;
    border:1px solid #EEEEEE;
    box-shadow:1px 5px 5px 1px #aaaaaa;
    border-radius:15px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: white;
}


form {
    background: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
    margin:20px;
}

input {
	padding: 10px;
}

div.formbox { /* The box around each search criteria */
    border:1px solid #EEEEEE;
    box-shadow:1px 5px 5px 1px #aaaaaa;
    border-radius:15px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: white;

    display:inline; /* Stop divs starting a newline */
    
    /*background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;*/


	line-height: 30px;
	list-style: none;
    padding: 20px;
	margin: 20px 50px 20px 20px;
	margin-bottom: 2px;
}